
.auctionBox .detailBox{
  background: #f25f5c;
  color: white;
}

.tournamentDetailBoxAuction {
  padding: 25px 5px;
  min-height: 528px;
  border-radius: 16px;
  box-shadow: 0 24px 64px rgb(0 0 0 / 4%);
  overflow: scroll;
}
.inputBox .flabel{
  font-weight: bold;
  padding: 10px 0px;

}
.tournamentDetailBoxAuction  .card{
  font-weight: bold;  color: #2c3e50;
}

.tournamentDetailBoxAuctionTeam {
  padding: 10px;
  min-height: 528px;
  border-radius: 16px;
  margin-left: 15px;
  box-shadow: 0 24px 64px rgb(0 0 0 / 4%);
  background: #FFFF;
}
.blogSlider{
  height: 100%;
}


.auctionBox {
  display: flex;
  flex-flow: row;
  min-height: 200px;
  margin-top: 15px;
  background: #e4e4e4;
  box-shadow: 0 2px 6px 0 rgb(47 83 151 / 10%);
  border-radius: 3px;
  padding: 10px;
}

.tournamentBox {
  display: flex;
  flex-flow: column;
  height: 200px;
  width: 40%;
}

.flabel {
  color: #2c3e50;
  font-size: 16px;
}

.tournamentPlayer {
  display: flex;
  flex-flow: column;
  height: 200px;
  width: 60%;
}

.teamCard {
  background-color: #ffff;
  width: 200px;
  margin: 10px 0px;
}

.teamItem {
  color: #2c3e50;
  font-size: 12px;
  border-top: 1px #e4e4e4 solid;
  padding: 5px;
  bottom: 12px;
  width: 200px;
}

.teamName {
  padding: 10px;
  margin-bottom: 15px;
}

.teamName h3 {

  color: #2c3e50;
  font-weight: bold;

}

.card-img-top1 {
  height: 150px !important;
}

.teamLogo {
  height: 100px;
  width: 100px;
}

.inputMainBox {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}

.inputBox {
  margin: 10px;
}

.blogSlider .teamBox {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.teamBoxMain {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


.blogSlider .teamBox .detailBox {
  padding: 20px;
}

.profile-info p, b {
  line-height: 1.5rem;
}

.imgBox {
  width: 20%;
}
.auctionBox  .detailBox{
  width: 60%;
}

.auctionBox .playerDetailBox {
  padding: 10px;
  width: 70%;
}

.playerDetailBox h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-top: 0;
  margin-bottom: 5%;
}
.arrowBox{
  color: black;
    display: flex;
    /* position: absolute; */
    /* width: 100%; */
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.playerDetailBox h4 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-top: 0;
  margin-bottom: 5%;
}

.bidBox {
  border: 1px #bdc3c7 solid;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  background: #507BFC;
  color: #ffff;
}
.basePrice{
  font-weight: bold;
  line-height: 1.5rem;
  color: #2c3e50;
}
.buttonBox {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}
.page-wrapper-auction {
  font-family: 'Lato', sans-serif;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;

}
.profile-main-box-auction {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgb(47 83 151 / 10%);
  border-radius: 30px;
  margin: 6px 6px;
  text-align: left;
  transition: 300ms;
  width: 300px;
  justify-content: space-between;
  padding: 16px;
}
.profile-box-auction {
  background: #FFFFFF;
  text-align: left;
  display: flex;
  align-items: center;
  display: flex;
  padding: 5px;
}
.profile-box-auction img{
  width: 60px;
  height: 60px;
}
.profile-detail-auction{
  border-top-color: #2c3e50;
  border-top-width: 1px;
  border-top-style: solid;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}
.profile-detail-auction-text{
  color: #2c3e50;
  border-bottom: 1px #2c3e50 solid;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;

}
.profile-detail-auction-text span{
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #12263a;
}
.profile-box-textBox{
  padding: 5px;
}
.profile-box-auction span{
  color: #455a64;
}
.teamNameAuction{
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #12263a;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  .auctionBox {
    flex-direction: column;
  }
  .auctionBox .detailBox{
    width: 100%;
  }
  .tournamentDetailBoxAuctionTeam {
    width: 100%;
  }

  .tournamentDetailBoxAuctionTeam {
    width: 100%;
  }
  .user-link{
    font-size: .50em;
  }
  .user-list tbody td .user-subhead{
    font-size: .50em;
  }
  .main-box .table tbody > tr > td{
    font-size: .50em;
  }
  .user-list tbody td > img{
  height: 25px;
  width: 25px;
  }
}
.auctionName{
  color:#ffff;
  margin-bottom: 0;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}
.auctionHeader{
  display:flex;
  justify-content:space-evenly;
  background: #50ac00;
  color: #fff;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
align-items: center;
}
.imgBoxAuction{
  width: 150px;
}

.aboutUs{
  display: block;
  height: 130px;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.img-display{
  overflow: hidden;

}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
  height: 500px;
  background-size: cover;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: #f64749;
  text-decoration: line-through;
}
.new-price span{
  color: #256eff;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
  font-size: 1.2rem;
}
.product-imgs h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
  font-size: 1.2rem;
}
.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span{
  font-weight: 400;
}
.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type{
  background: #256eff;
}
.purchase-info .btn:last-of-type{
  background: #f64749;
}
.purchase-info .btn:hover{
  opacity: 0.9;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}
.auctionList{
  display: flex;
  padding-top: 5px;
  color: black;
  justify-content: space-between;
  border-top: 1px solid #e4e4e4;

}
.auctionListCol{
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auctionListLabel{
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 700;
  color: #12263a;
}
.inputGroupBox{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffc107;
  color: #ffff;
}
.inputGroupBox .btn {
  color: #ffff;
}
.inputGroupBoxDanger{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dc3545;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  color: #ffff;
}
.inputGroupBox .btn {
  color: #ffff;
}
.mouse{
  cursor: pointer;
}

@media screen and (min-width: 992px){
 .blogSlider .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  }
  .blogSlider .card-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  .blogSlider .product-imgs{
      flex-direction: column;
  }
  .blogSlider .product-content{
      padding-top: 0;
  }
  .auctionName{
    font-size: 20px;
  }
}