body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bgPrimary{
  background-color: #16a085  !important;
  --bs-bg-opacity:1;
  border-color: #16a085  !important;
}
.bottomFotter{
  position: fixed;
  width: 100%;
  bottom: 0;
}

.nav-link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#root{
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.fixed-top {
  /* z-index: 0; */
}
.Toastify {
  position: absolute;
  z-index: 999999;
}
.Toastify__toast-container{
  z-index:1021;
}
.capitalize{
text-transform: capitalize;
}
.profileLetter{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #3498db;
}
.thumbnail-image{
  height: 50px;
}
